---
interface Props {
  name:   string;
  slug:   string;
  bio:    string;
  avatar: string;
}

const { name, slug, bio, avatar } = Astro.props;
---
<div class="author-card">
  {avatar
    ? <img src={avatar} alt={name} class="author-card-avatar" width="56" height="56" />
    : <div class="author-card-avatar-placeholder">
        <span class="author-card-avatar-letter">{name[0]}</span>
      </div>
  }
  <div>
    <a href={`/blog/author/${slug}/`} class="author-card-name">
      {name}
    </a>
    {bio && <p class="author-card-bio">{bio}</p>}
  </div>
</div>
